<a href="https://colab.research.google.com/github/mdaugherity/AdventOfCode2020/blob/main/AoC2020_1_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

## Load and check data file
I pasted the data into excel to save as a csv, uploaded to github repo for easy access without needed to authenticate.  There certainly is a more direct way, but this was expedient...

In [5]:
df = pd.read_csv('https://raw.githubusercontent.com/mdaugherity/AdventOfCode2020/main/day1input.csv', header=None)

In [6]:
df.head()

      0
0  1384
1  1396
2  1072
3  1903
4  1387

In [7]:
df.tail()

        0
195  1160
196  1881
197  1123
198  1166
199  1929

In [15]:
# Brutal Force
x = df[0]
NUM = len(x)
for i in range(1,NUM):
  a = x[i]
  for j in range(i):
    b = x[j]
    if a+b==2020:
      prod = a*b

print(prod)

1019904

In [23]:
# More efficient solution that quits when it finds a good answer
x = df[0]
NUM = len(x)
done = 0
i = 1
j = 0
while not done:
  a = x[i]
  b = x[j]
  if a+b==2020:
    prod = a*b
    done = 1
  j+=1
  if j==NUM:
    j = 0
    i+=1
print(a,b,prod)

1024 996 1019904