<a href="https://colab.research.google.com/github/mdaugherity/AdventOfCode2020/blob/main/AoC2020_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DAY 2

In [1]:
import numpy as np
import pandas as pd

## Load and check data file
I pasted the data into excel to save as a csv, uploaded to github repo for easy access without needed to authenticate.  There certainly is a more direct way, but this was expedient...

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/mdaugherity/AdventOfCode2020/main/day2input.csv', header=None)

In [3]:
df.head()

                           0
0               2-5 l: fllxf
1        4-5 r: rrrjmrrrrrrh
2               1-4 k: kkksk
3   7-8 k: tknsqknzkckrwkjkk
4  2-3 p: mpbstpxmsxmpnhbwlb

In [4]:
df.tail()

                                0
995         8-9 k: kkxkkkdkkkzkdp
996          1-8 b: bbxbdbnbjcbbb
997  15-19 q: qqqqqqvqqqqqqsqqqqq
998                   3-4 t: tttt
999                  2-5 j: bjjjj

# PART 1

In [43]:
# example input:  
#2-5 l: fllxf
# since the min and max numbers can be two digits, will need to split string
x = df[0]
right = 0
for i in range(len(x)):
  s = x[i]
  tokens = s.split()   # first split on whitespace
  s1 = tokens[0].split('-')  # token 0: 'min-max'
  min = int(s1[0])
  max = int(s1[1])
  let = tokens[1][0] # token 1: 'c:' 
  c = tokens[2].count(let)  # token 2: password
  if c>=min and c<=max:
    right+=1
print(right)

660

# PART 2

Each policy actually describes two positions in the password, where 1 means the first character, 2 means the second character, and so on. (Be careful; Toboggan Corporate Policies have no concept of "index zero"!) Exactly one of these positions must contain the given letter. Other occurrences of the letter are irrelevant for the purposes of policy enforcement.

Given the same example list from above:

    1-3 a: abcde is valid: position 1 contains a and position 3 does not.
    1-3 b: cdefg is invalid: neither position 1 nor position 3 contains b.
    2-9 c: ccccccccc is invalid: both position 2 and position 9 contain c.

In [52]:
# test case
x = df[0]
right = 0
for i in range(len(x)):
#for i in range(3):
  s = x[i]
  tokens = s.split()   # first split on whitespace
  s1 = tokens[0].split('-')  # token 0: 'min-max'
  p1 = int(s1[0])
  p2 = int(s1[1])
  let = tokens[1][0] # token 1: 'c:' 
  s2 = tokens[2]  # token 2: password 
  match = 0
  if s2[p1-1]==let:
    match+=1
  if s2[p2-1]==let:
    match+=1
  #print(s, p1,p2,let,match)
  if match==1:
    right+=1
print(right)

530